<!DOCTYPE html>

<html>

<head>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  
  <script src="https://unpkg.com/vue"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  
  <script src="https://code.jquery.com/jquery-3.2.1.js" ></script>
  <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/patternfly/3.23.0/js/patternfly.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/patternfly/3.23.0/js/patternfly.js"></script>
  
  
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/patternfly/3.23.0/css/patternfly.css" />
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/patternfly/3.23.0/css/patternfly.min.css" />

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/patternfly/3.23.0/css/patternfly-additions.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/patternfly/3.23.0/css/patternfly-additions.min.css"/>
  
  
        <title>Website Title</title>
</head>

<body>

<header>
	<nav>
		<!-- <ul>
		<li>Home</li>
		<li>Contact</li>
		</ul> -->
	</nav>
</header>
<div id="app1">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="lead-form">
				 <h1 class="text-center">Search By User ID</h1>
				 <div class="text-center">				 	
				 	<input type="text" placeholder="type here" v-model="id">
				 </div>
				 <div class="text-center">
				 	<span style="color:red">{{error}}</span>
				 </div>
				 <hr/>			

						<table class="table table-striped table-bordered">
							<thead>
								<tr>
									<th>ID</th>
									<th>Name</th>
									<th>Email ID</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>{{id}}</td>
									<td>{{name}}</td>
									<td>{{email}}</td>
								</tr>
							</tbody>
						</table>

					</div>
			</div>
		</div>
	</div>
</div>

<div id="app2">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="lead-form">
				 <h1 class="text-center">User Directory</h1>
				  <div class="text-center">
				 	<span style="color:red">{{error}}</span>
				 </div>			 				
				 <hr/>
<button id="button" v-on:click="checkDirectory">Check Directory</button>

						<table class="table table-striped table-bordered">
							<thead>
								<tr>
									<th>ID</th>
									<th>Name</th>
									<th>Email ID</th>
								</tr>
							</thead>
							<tbody>
								<tr v-for="user in userlist">
									<td>{{user.id}}</td>
									<td>{{user.name}}</td>
									<td>{{user.email}}</td>
								</tr>
							</tbody>
						</table>

					</div>
			</div>
		</div>
	</div>
</div>

<div id="app3">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="lead-form">
				 <h1 class="text-center">User Directory</h1>	
				 
				 <div class="text-center">				 	
				 	<input type="text" placeholder="type here" v-model="id">
				 </div>	
				  <div class="text-center">
				 	<span style="color:red">{{error}}</span>
				 </div>			 				
				 <hr/>

						<table class="table table-striped table-bordered">
							<thead>
								<tr>
									<th>ID</th>
									<th>Name</th>
									<th>Email ID</th>
								</tr>
							</thead>
							<tbody v-for="user in userList">
								<tr v-if="user.id == id">
									
									<td>{{user.id}}</td>
									<td>{{user.name}}</td>
									<td>{{user.email}}</td>
								</tr>
							</tbody>
						</table>

					</div>
			</div>
		</div>
	</div>
</div>

<script>
<!--

//-->

var app = new Vue({
	el: '#app1',
	data:{
		id: '',
		name: '',
		email: '',
		error: ''
	},
	watch: {
		id: function(){
			this.name=''
			this.email=''
			this.lookupA()
		}
	},
	methods: {
		lookupA: function(){
			var app = this
			axios.get('http://localhost:8082/rest/'+ app.id)
			.then(function(response){
				app.name = response.data.name
				app.email = response.data.email
				app.error = ''
			})
			.catch(function(error){
				app.error = "No Data Found"
				app.name = "No Entries Found"
				app.email = "No Entries Found"
			})
		}
	}
})

</script>

<script>
<!--

//-->

var app = new Vue({
	el: '#app2',
	data:{
		userlist: [],
		error: ''
	},
	methods: {
		checkDirectory: function(){
			var app = this
			axios.get('http://localhost:8082/rest/view')
			.then(function(response){
			//	alert(response.data);
				app.userlist = response.data
				app.error = ''
			})
			.catch(function(error){
				app.error = "No Data Found"
					app.userlist = ''
			})
		}
	}
})

</script>

<script>
<!--

//-->

var app = new Vue({
	el: '#app3',
	data:{
		id: '',
		userList: '',
		error: ''
	},
	watch: {
		id: function(){
			
		if(this.userList === '')
			{			
			this.lookupID()
			}
			
		}
	},
	methods: {
		lookupID: function(){
			var app = this
			axios.get('http://localhost:8082/rest/view')
			.then(function(response){
				
				app.userList = response.data
				app.error = ''
			})
			.catch(function(error){
				app.error = "No Data Found"
					app.userList = ''
			})
		}
	}
})
</script>


<footer>
      <p></p>
</footer>
        
</body>

</html>